<html>

<head>
<%= stylesheet_link_tag 'top.index', :media => "all" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>




</head>
<body>
<div id="loader-bg">
  <div id="loader">
    <img src="/assets/calender.png" alt="Now Loading..." />
    <p>Now Loading...</p>
  </div>
</div>
<script>
$(function() {
  var h = $(window).height();
  
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
  
$(window).on('load',function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});
  
//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',100);
});
  
function stopload(){
  $('#wrap').css('display','block');
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
}
</script>
<div id="wrap">
    <div class="hp">

        <div class="header1">
        <div class="header-logo">Complete your tasks</div>
        <div class="header-menu">

            <a href="/top/show">自己紹介</a>
            <%= link_to "ログイン",blogs_path %>
            <a href="/users/sign_up">新規登録</a>
        </div>  
        </div>
        
        
        <div class="slide-bottom">
            <div class="hu">
              <div class="tn"></div>
              <div class="verlay"></div>
              <div class="tact">
                <h1>トップページ<span id="close"></span></h1>
                <div class="kl">
                  <div class="ju">
                    <h2>普通ではないTodoリスト</h2>
                    <br>
                  </div>  
                  

                  <p>頭の中で一日のやることリストを考え、達成させるのは困難。<br>
                  だからカレンダー機能があるTodoリストを使う。</p>
                  <br>
                  <p>しかし、Todoリストでも面白い機能がなければ継続してはいけくれない。<br>
                  なので、当サイトでは以下の2つの機能を用いた。</p>
                  <br>

                  <li>達成率に応じたイラストの表示</li>
                  <li>登録したタスクがカレンダーに表示される</li>
                  <br>

                  <p>これらを利用してTodoリストを継続しよう</p>
                  <p> 右上の「自己紹介」を押してさらに見よう</p>
                
                  <br>
                  <div class="g">
                  <h2>使い方</h2>
                  <p>下の動画を参考にしてください</p>
                  <p>1. 新規登録　ログイン<p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/E9Xi8hydrrA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <p>2. 投稿　登録機能</p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/aT5vKRcc4gQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="gu">
                    <h2>注意1</h2>
                  </div>
                  <p>新規登録のページを「パスワードを忘れた」を押さないでください</p>
                  <p>なので、ログインしたらなるべく「 ログアウト」をクリックしないでください</p>
                  <p>申し訳ございません</p>
                  <p>3. 検索機能</p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/0Zq7NFPaRG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/YPqpPOG6MQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="gu">
                    <h2>注意2</h2>
                  </div>  
                  <p>内容1行60文字で10行の計600文字しか入力できません</p>
                  <p>カレンダーの日の所に3つの投稿しか表示されません</p>
                  <p>なので、1回の投稿でたくさんの内容を書いてください</p>
                  <p>4. 削除　編集</p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/gzTOYViJ0H4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p>以下の動画を見ていただいたらこのサイトを完璧に使用することができます</p>
                  <br>

                  <div class="back">
                  <h2>アンケートのご協力</h2>
                  <a href="https://forms.gle/MGm9FvQPC4qiBP2WA">アンケート</a>
                  </div>
                </div>  
              </div>  
            </div>
        </div>
    </div>

</div>

</body>
</html>