.header-logo {
    font-size:30px ;
    font-family: 'Times New Roman', Times, serif;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.header1 .header-menu a {
    text-decoration: none;
    color: #707070;
    padding: 0 15px;
    background-color:#F3F0EA;
    margin: 10px;
}

.header1 .header-menu a:hover {
    border-bottom: 2px solid #FD5A5F;
    padding-bottom: 10px;
}
footer {
    padding: 10px;
}
