body {
    background-image:url(a.jpg);
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
    z-index: 0;
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
body:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}
#calendar {
    max-width: 900px;
    margin: 0 auto;
}                

html > body {
    font-family: 'Noto Sans Japanese','Segoe UI','Verdana','Helvetica','Arial', sans-serif;
}
.fc-left h2 {
    font-weight: normal;
}
.fc-widget-header th {
    background-color: #f8dbc6;
}
th.fc-day-header, th.fc-widget-header {
    color: #550000;
    font-size: 14px;
    font-weight: normal;
}
.fc-sun > span {
    color: #cd384b;
}
.fc-sat > span {
    color: #415ea6;
}
td.fc-sun {
    background-color: #fae6e3;
}
td.fc-sat {
    background-color: #dceef7;
}
.fc-unthemed .fc-content, 
.fc-unthemed .fc-divider, 
.fc-unthemed .fc-list-heading td, 
.fc-unthemed .fc-list-view, 
.fc-unthemed .fc-popover, 
.fc-unthemed .fc-row, 
.fc-unthemed tbody, 
.fc-unthemed td, 
.fc-unthemed th, 
.fc-unthemed thead {
    border-color: #d1ccd9;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: left;
}
.m{
    margin: 25px;
    padding: 25px;
}
p{
    font-size: 17.5px;
}
.hako {
    background-color: white;
    
    overflow: scroll;
    height: 300px;
}
h1 {
    background: #1abc9c;
    margin: 0;
    padding: 8px;
    color: white;
    font: 300 20px Roboto;
    text-align: center;
}
h1 span {
    display: block;
    background: url("https://cbwconline.com/IMG/Close.svg") center center no-repeat;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    transition: 0.2s;
}
h1 span:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
